#main {
        font-size: 34px;
        font-weight:900;
        margin: 120px auto 0px auto;
        color: #272044;
        font-family:  Cerebri Sans, Helvetica, Arial, sans-serif;
        line-height:50px;
    }
    #main,.technology, p, h2{
       text-align: center; 
    }
     .technology{
        color: #8064E9 ;
        font-size:34px ;
        font-weight: 900;
        font-family:  Cerebri Sans, Helvetica, Arial, sans-serif;
        margin: 0px auto;
        padding: 0px;
    }
     p{
        font-size: 19px;
        font-family:monospace;
        font-weight: lighter;
        margin: 50px 0px 0px;
    }
     h2{
        font-size: 18px;
        font-family:monospace;
        margin: 0px 0px;
    }
     button{
        display: block;
        margin: 0 auto;
        padding: 18px 24px;
        border-radius: 28px;
        color: #fff;
        background-color: #8064E9;
        border:none;
        font-size: 16px;
     }
     button:hover{
        background-color: #5E41A7;
     }
     img{
      display: block;
      margin: 0 auto;
     }